@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
}

#my-box {
  width: 80%;
  padding: 30px;
 
}
body {
  margin: 0;
  padding: 30px;
  background-color: rgb(36, 35, 35);
  font-family: 'Montserrat', sans-serif;
  color: rgb(250, 235, 235); 
  
  
 
}

/**NAVIGATION FLEX-BOX**/

#nav {
 
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 0;
   padding: 10%;
   background:#222222; 
   position: absolute;
   right: 0%;
   display: none;
   top: 0rem;
   width: 50%;
   height: 100%;
  
}

#nav  li a {
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: rgb(250, 235, 235);
  margin: 20%;
}



.navlink a:visited {
  color: rgb(250, 235, 235); 
}

#logo{
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 20px;
 
}




#burger {
  position: fixed;
  z-index: 2;
  right: 5%;
  top: 2.5%;
  font-size: 2rem;
 }



main {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-auto-rows: 1fr;
  grid-gap: 100px;  
  margin: 5% auto; 
  
}

img {
  max-width: 100%;
  height: auto;
}


/**STYLE**/

h1{
  text-align: center;
  text-transform: uppercase;
   margin: 7.5% 35% 0 35%; 
   /* border-bottom: 1px solid white; */
}
h3 {
  text-align: center;

} 

li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

#icons{
  display: flex;
  justify-content: space-around;

}


i {
  margin-left: 5%;
 
}

#allergen, #vegetarian, #alcohol {
  font-size: 1.8rem;
}
#allergen, .a {
  color: red;

}
#vegetarian, .fa-leaf {
   color: green;
}

#alcohol, .fa-glass {
   color: purple;
}

button {
  
  border: none;
 
}

.expand{
  font-size: 1.2rem;
  margin-left: 20%;
}


/**HIDE**/

.hide {
  display: none;
}

.description{
  display: none;
  margin: 0 5%;
 
}