@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
}

#my-box {
  width: 80%;
  padding: 30px;
 
}



body {
  margin: 0;
  padding: 30px;
  background-color: rgb(36, 35, 35);
  font-family: 'Montserrat', sans-serif;
  color: rgb(250, 235, 235); 
    
 
}

/**NAVIGATION FLEX-BOX**/

#nav {
   display: flex;
   margin: 0;
   padding: 10%;
   background: rgb(36, 35, 35);
   position: absolute;
   right: 0%;
   display: none;
   top: 0;
   width: 100%;
   height: 100%;
  
}

  #nav  a {
    display: flex;
   flex-direction: column;
   justify-content: space-around;
  list-style: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.2rem;
  color: rgb(250, 235, 235);
  margin: 15px;
  
  
}



#nav a:visited {
  color: rgb(250, 235, 235); 
} 

#logo{
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 20px;
  color: #ffffff;
}




#burger {
  position: fixed;
  z-index: 2;
  right: 5%;
  top: 50px;
  font-size: 2rem;
  color: #ffffff;
 }



main>section {
  display: grid;
  max-width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 80px;  
  margin: 5% auto; 
  
}

main>section>h1 {
  grid-column: 1/-1;
  
}

img {
  
  max-width: 100%;
  height: auto;
  
}


/**STYLE**/

summary {
  position: absolute;
  z-index: 5;
  margin-left: 82.5%;
  top: 15%;
  font-size: .8rem;;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
    margin: 10% 35% 0 35%; 
    border-bottom: 1px solid white; 
}

h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 5%;

} 

.about {
  text-align: center;
}

.soldout  {
  font-size: 2.2rem;
  color: rgb(202, 182, 68);
  margin-left: 8%;
}
li {
  list-style-type: none;

}

#icons{
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-around;

}




#allergen, #vegetarian, #alcohol {
  font-size: 1.1rem;
  visibility: hidden;
}

#allergen, .a {
  color: red;

}
#vegetarian, .fa-leaf {
   color: green;
}

#alcohol, .fa-glass {
   color: rgb(165, 6, 165);
}

i {
   
  padding: 5px;
 
} 

 .expand {
  font-size: 1.2rem;
  background-color: rgb(202, 202, 202);
  border: none;
  border-radius: 2.5%;
  width: 100%;
  margin-top: 5%;
 
}




/**HIDE**/

.hide {
  display: none;
}

.description{
   display: none; 
  /* margin: 0 5%; */
 
 
}